.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  overflow: auto;
  min-height: 100%;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
}
