.footer__column-link-item {
  display: flex;
  align-content: center;
  list-style: none;
  color: #fff;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 105px;
}

.footer__column-link-item:last-child {
  padding-bottom: 16;
}
