.header__main-illustration {
  background: url(../../../images/header/two_again.png) no-repeat;
  background-size: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
